{%extends "layout.html"%}
{%block content%}
<div class = "home">
	<h1>Contact Me:</h1>
	<a href="http://www.linkedin.com/in/edkrueger" class = "contact_link">
		<img src="static/icons/linkedin.png" class = "icon">
		LinkedIn: www.linkedin.com/in/edkrueger/
	</a>
	<br>
	<a href="mailto:edkrueger@gmail.com" class = "contact_link">
		<img src="static/icons/email.png" class = "icon">
		Email: edkrueger@gmail.com
	</a>
	<br>
	<span class = "contact_text">
		<img src = "static/icons/phone.png" class = "icon">
		Phone: (713) 320-0700
	</span>
</div>
{%endblock%}
