<!DOCTYPE html>
<html>
	<head>
		<title>Edward Krueger</title>
		<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
	</head>
	<body>
		<header>
			<div class = "container">
				<h1 class = "logo">Edward's Website</h1>
				<nav>
					<ul class = "menu">
						<li><a href = "{{ url_for('home') }}" class = "nav_link">Home</a></li>
						<li><a href = "{{ url_for('about') }}" class = "nav_link">About</a></li>
						<li><a href = "{{ url_for('resume') }}" class = "nav_link">Resume</a></li>
						<li><a href = "{{ url_for('projects') }}" class = "nav_link">Projects</a></li>
						<li><a href = "{{ url_for('contact') }}" class = "nav_link">Contact</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class = "container">
			{%block content%}
			{%endblock%}
		</div>
	</body>	
</html>